<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <h1>Board Create</h1>
    <!-- type:email, search, url,tel => 자동검증 대상  -->
    <form method="post" th:object="${dto}" novalidate th:action="@{/board/create}">
      <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" />
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></div>
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea name="content" id="content" rows="10" class="form-control">[[${dto.content}]]</textarea>
        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></div>
      </div>
      <div class="mb-3">
        <input type="hidden" class="form-control" id="email" name="email" th:value="${#authentication.name}" />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">작성자</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${#authentication.principal.name}" />
      </div>
      <button class="btn btn-primary" type="submit">추가</button>
      <a
        class="btn btn-success"
        th:href="@{list(page=${pageRequestDTO.page},size=${pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
        >목록</a
      >
    </form>
    <div class="row mt-3">
      <h5 class="my-3">댓글개수 : <span th:text="${dto.replyCount}"></span></h5>
      <div class="replyList boarder px-2">
        <!-- 댓글목록 -->
      </div>
    </div>
  </div>
</html>
