<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <h1>Board Modifty</h1>
    <form method="post" th:action="@{/board/modify}">
      <div class="mb-3">
        <label for="bno" class="form-label">번호</label>
        <input type="text" class="form-control" id="bno" name="bno" th:value="${dto.bno}" readonly />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea name="content" id="content" rows="10" class="form-control">[[${dto.content}]]</textarea>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">작성자</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${dto.name}" readonly />
      </div>
      <input type="hidden" class="form-control" id="email" name="email" th:value="${#authentication.name}" />
      <button type="submit" class="btn btn-primary" th:if="${#authentication.name} == ${dto.email}">수정</button>
      <a
        class="btn btn-success"
        th:href="@{list(page=${pageRequestDTO.page},size=${pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
        >목록</a
      >
      <a
        class="btn btn-danger"
        th:href="@{remove(bno=${dto.bno},page=${pageRequestDTO.page},size=${pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
        >삭제</a
      >
    </form>
    <div class="row mt-3">
      <h5 class="my-3">댓글개수 : <span th:text="${dto.replyCount}"></span></h5>
      <div class="replyList boarder px-2">
        <!-- 댓글목록 -->
      </div>
    </div>
  </div>
</html>
