<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <h1>Board Read</h1>

    <form>
      <div class="mb-3">
        <label for="bno" class="form-label">번호</label>
        <input type="text" class="form-control" id="bno" name="bno" th:value="${dto.bno}" />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea name="content" id="content" rows="10" class="form-control">[[${dto.content}]]</textarea>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">작성자</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${dto.name}" />
      </div>
      <a
        class="btn btn-primary"
        th:href="@{modify(bno=${dto.bno},page=${pageRequestDTO.page},size=${pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
        th:if="${#authentication.name} == ${dto.email}"
        >수정</a
      >
      <a
        class="btn btn-success"
        th:href="@{list(page=${pageRequestDTO.page},size=${pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
        >목록</a
      >
    </form>
    <div class="mt-5">
      <hr />
      <div class="border p-4">
        <form action="" method="post" id="replyForm">
          <input type="hidden" name="rno" />
          <input type="hidden" name="bno" th:value="${dto.bno}" />
          <div class="input-group mb-3">
            <span class="input-group-text">작성자</span>
            <input type="text" class="form-control" id="replyer" name="replyer" />
          </div>
          <div class="input-group">
            <span class="input-group-text">댓글</span>
            <textarea name="text" id="text" rows="3" class="form-control"></textarea>
            <button type="submit" class="btn btn-outline-secondary">등록</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <h5 class="my-3">댓글개수 : <span th:text="${dto.replyCount}"></span></h5>
      <div class="replyList boarder px-2">
        <!-- 댓글목록 -->
        <div class="d-flex justify-content-between my-2 border-bottom reply-row" data-rno="1">
          <div class="p-3">
            <img
              src="/img/default.png"
              alt=""
              class="rounded-circle mx-auto d-block"
              style="width: 60px; height: 60px"
            />
          </div>

          <div class="flex-grow-1 align-self-center">
            <div>댓글작성자</div>
            <div><span class="fs-5">댓글 내용</span></div>
            <div class="text-muted"><span class="small">2024-01-13</span></div>
          </div>
          <div class="d-flex flex-column align-self-center">
            <div class="mb-2">
              <button class="btn btn-outline-danger btn-sm">삭제</button>
            </div>
            <div>
              <button class="btn btn-outline-success btn-sm">수정</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="script">
    <script>
      //현재 bno 가져오기
      const bno = "[[${dto.bno}]]";
    </script>
    <script th:src="@{/js/read.js}"></script>
  </th:block>
</html>
