<!DOCTYPE html>
<html lang="en">
  <div class="border-end bg-white" id="sidebar-wrapper" th:fragment="sidebar">
    <div class="sidebar-heading border-bottom bg-light">Board</div>
    <div class="list-group list-group-flush">
      <a
        class="list-group-item list-group-item-action list-group-item-light p-3"
        th:href="@{/board/list(page=1,size=10,type=,keyword=)}"
        >게시판</a
      >
      <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/board/create}"
        >게시글 작성</a
      >
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
    </div>
  </div>
</html>
